* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 1.5;

  display: grid;
  grid-template-columns: 150px auto 150px;
  column-gap: 1em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/* --------------------------- Nav Bar --------------------------------- */

.main-header {
  background-color: #2b363e;
}

.main-header nav {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  padding: 0 10px 0 10px;

}

.main-header h1 {
  color: #44C184;
}

.main-header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-top: 5px;
  align-items: right;
}

.hero {
  background: url("./images/breakfast.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  animation-name: fadeIn;

  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.main-header a {
  color: #44C184;
  text-decoration: none;
}

.main-header,
.call-to-action, footer, main {
  grid-column: 1 / 4;
}

.promote-reasons, .pricing-structure {
  grid-column: 1 / 4;
}

.contact {
  text-align: center;
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  margin: 0 auto;
  padding: 15px;
}

.contact-form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
  /* grid-column: 1/5; */
}

.contact-form {
  background-color: #F6F7F8;
  border-radius: 3px;

  padding: 50px;
  margin: 0 0 40px 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5em;
  align-items: center;
  padding: .5em;
  border-radius: 2px;
}

.aside-right {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  height: 100%;
}

#message {
  flex: 1; /* consume available width */
  align-self: flex-start; /* override flex full-height columns feature */
}

.promote-reasons {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  padding-top: 20px;
}

.why-us {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.benefits {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  padding: 0 12px 0 12px;
}



.benefits h4 {
  font-size: 1.5em;
}

.benefits-image {
  font-size: 3em;
  color: #44C184;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"],
input[type="email"], textarea {
  background-color: rgba(227, 228, 230, 0.2);
  border: 1px solid rgba(0, 0, 0, .2);
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  transition: 0.4s;
}

input[type="text"]:focus {
  background-color: #f0f0f0;
  border: solid 2px #c0c0c0;
  outline: none;
}

input[type="email"]:focus {
  background-color: #f0f0f0;
  border: solid 2px #c0c0c0;
  outline: none;
}

#message:focus {
  background-color: #f0f0f0;
  border: solid 2px #c0c0c0;
  outline: none;
}

.contact-form-button {
  border: 1px solid #44C184;
  padding: 10px;
  transition: background-color .5s, color .5s;
  width: 100%;
}

.contact-form-button:hover {
   background: #7dcbc4;
   outline: none;
   color: #333;
 }
/* --------------------------- PRICING TABLE --------------------------------- */

.pricing-structure {
  margin: 40px auto;
  background-color: #f0f4f7;

  padding-bottom: 40px;
  margin-bottom: 0px;

}

.pricingTable {
  margin: 40px auto;

}
.pricingTable-title {
  text-align: center;
  color: #6e768d;
  /* font-size: 3em; */
  font-size: 300%;
  margin-bottom: 20px;
  letter-spacing: 0.04em;
}

.pricingTable-subtitle {
  text-align: center;
    color: #b4bdc6;
    font-size: 1.8em;
    letter-spacing: 0.04em;
    margin-bottom: 60px;
}


.pricingTable-whole {
  list-style: none;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}

.pricingTable_table {
  vertical-align: middle;
  width: 31%;
  background-color: #ffffff;
  display: inline-block;
  padding: 0px 30px 40px;
  text-align: center;
  max-width: 320px;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.pricingTable_table__Middle {
  vertical-align: middle;
  width: 31%;
  background-color: #ffffff;
  display: inline-block;
  padding: 0px 30px 40px;
  text-align: center;
  max-width: 320px;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.pricingTable_table__Middle:hover{
  transform: scale(1.08);
}

.pricingTable_table:hover{
  transform: scale(1.08);
}

.pricingTable_table__Middle:before {
  content: 'Most Popular';
  /* position: absolute; */
  color: white;
  display: block;
  background-color: #3bbdee;
  text-align: center;
  right: 15px;
  top: -25px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 0.5em;
  padding-top: 22px;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  transition: all 0.5s ease;
}

.pricingTable_table__Middle:hover:before {
  transform: rotate(360deg);
}

.firstTable__header {
  font-size: 1.6em;
  padding: 40px 0px;
  border-bottom: 2px solid #ebedec;
  letter-spacing: 0.03em;

}

.lastTable__header {
  font-size: 1.6em;
  padding: 40px 0px;
  border-bottom: 2px solid #ebedec;
  letter-spacing: 0.03em;
}

.table__pricing {
  font-size: 3em;
  padding: 30px 0px;
  border-bottom: 2px solid #ebedec;
  line-height: 0.7;
}

.pricingTable__options {
  list-style: none;
  padding: 15px;
  font-size: 0.9em;
  border-bottom: 2px solid #ebedec;
}

.pricingTable__options li {
  padding: 8px 0px;
}

.pricingTable__options li:before {
  content: '✓';
  display: inline-block;
  margin-right: 15px;
  color: white;
  background-color: #74ce6a;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 0.8em;
  padding: 2px;
  text-align: center;
}

.pricingTable__get-started {
  color: white;
  background-color: #71ce73;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px;
  box-shadow: 0px 3px 0px 0px rgba(102, 172, 100, 1);
  letter-spacing: 0.07em;
  transition: all 0.4s ease;
}

.pricingTable__get-started:hover {
  transform: translateY(-10px);
  box-shadow: 0px 40px 29px -19px rgba(102, 172, 100, 0.9);
}
.pricingTable__get-started:active {
  box-shadow: inset 0 0 10px 1px rgba(102, 165, 100, 1), 0px 40px 29px -19px rgba(102, 172, 100, 0.95);
  transform: scale(0.95) translateY(-9px);
}

footer {
  background-color: #262c30;
  color: #fff;
  width: 100%;
  padding: 20px 0 20px 0;
  display: grid;
  grid-template-columns: 15% 20% 20% 20% 15%;
}

.blurb {
  grid-column: 2/5;
}

.lower-footer-links {
  grid-column: 1/7;
}

.footer-social {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 480px){

  .pricingTable-title {
    font-size: 200%;
  }

  .pricingTable-subtitle {
    margin-bottom: 30px;
    font-size: 1.5em;
  }

  .pricingTable__options {
    font-size: 1.3em;
    margin-right: none;
    margin-bottom: 10px;
  }

  .promote-reasons {
    display: flex;
    flex-direction: column
  }

  .benefits p {
    display: none;
  }
}

@media screen and (max-width: 767px){

  .main-header nav {
    display: flex;
    justify-content: center;
  }

  #toggle {
    position: absolute;
    left: -100%;
    top: -100%;
  }

  .navbar-toggle {
    font-size: 2em;
    color: #44C184;
    display: flex;
    align-items: center;
    justify-content: center
  }

  #main-nav {
    flex-direction: column;
    align-items: center;
  }

  #header-title {
    display: none
  }

  .pricingTable_table {
    display: block;
    width: 90%;
    margin: 0 auto;
    max-width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
  }

  .pricingTable_table:after {
    display: table;
    content: '';
    clear: both;
  }

  .pricingTable__options {
    border-bottom: none;
    padding: 0;
    margin-right: 10%;
  }
}

@media screen and (max-width: 1068px){

  .firstTable__header {
    font-size: 1.45em;
  }

  .pricingTable__options {
    font-size: 0.85em;
  }

}
